In [ ]:
#Pandas Videos #3
#Reading and Writing CSV & Excels

In [ ]:
import pandas as pd

In [ ]:
#To Read CSV files use the following command/program.
df=pd.read_csv('/Users/purnachandra.dasari/Downloads/AIML-Labs-BLR/PythonTutorial-DS/stock_data.csv')
df

In [ ]:
#If we want to skip any rows use the following 
df=pd.read_csv('/Users/purnachandra.dasari/Downloads/AIML-Labs-BLR/PythonTutorial-DS/stock_data.csv',skiprows=1)
#(OR)
df=pd.read_csv('/Users/purnachandra.dasari/Downloads/AIML-Labs-BLR/PythonTutorial-DS/stock_data.csv',header=1)
df

In [ ]:
#If we want to read only certain number of rows only use the following code.
df=pd.read_csv('/Users/purnachandra.dasari/Downloads/AIML-Labs-BLR/PythonTutorial-DS/stock_data.csv',nrows=4)
df

In [ ]:
#If we want to give any customized name to the columns use the following
df=pd.read_csv('/Users/purnachandra.dasari/Downloads/AIML-Labs-BLR/PythonTutorial-DS/stock_data.csv',skiprows=1,header=None,names=['COMPANY','EPS','REVENUE','PRICE','MD'])
df

In [ ]:
#If we want to replace na values use the below
df=pd.read_csv('/Users/purnachandra.dasari/Downloads/AIML-Labs-BLR/PythonTutorial-DS/stock_data.csv',skiprows=1,header=None,names=['COMPANY','EPS','REVENUE','PRICE','MD'],na_values=['Not Available','n.a.'])
df

In [ ]:
#If we want to replace na values using dictionary use the below
df=pd.read_csv('/Users/purnachandra.dasari/Downloads/AIML-Labs-BLR/PythonTutorial-DS/stock_data.csv',skiprows=1,header=None,names=['COMPANY','EPS','REVENUE','PRICE','MD'],na_values={
    'COMPANY':['not available','n.a.'],
    'EPS':['not available','n.a.'],
    'REVENUE':['not available','n.a.',-10],
    'PRICE':['not available','n.a.','na'],
    'MD':['not available','n.a.']
})
df

In [ ]:
#To save/Write above DataFrame result use the following, it writes along with the index
df.to_csv('/Users/purnachandra.dasari/Downloads/AIML-Labs-BLR/PythonTutorial-DS/new.csv')
#To remove index while writing use the following
df.to_csv('/Users/purnachandra.dasari/Downloads/AIML-Labs-BLR/PythonTutorial-DS/new.csv',index=False)

In [ ]:
#To write specific columns in the CSV files use the following
df.to_csv('new1.csv',columns=['COMPANY','MD'],index=False)
df2=pd.read_csv('new1.csv')
df2

In [ ]:
#If we want to write skipping the headers use the following
df2.to_csv('new2.csv',header=None)

In [ ]:
df3=pd.read_csv('new2.csv')
df3

In [33]:
#If we want to replace the NA values in excel use the converters and define functions to return the values
def converter_people_cell(cell):
    if cell=='n.a.':
        return 'Sam walton'
    return cell
def converter_eps_cell(cell):
    if cell=="not available	":
        return None
    return cell
xdf=pd.read_excel("/Users/purnachandra.dasari/Downloads/AIML-Labs-BLR/PythonTutorial-DS/stock_dataxl.xls",converters={
    'people':converter_people_cell,
    'eps':converter_people_cell
})
xdf

    tickers            eps  revenue price        people
0     GOOGL          27.82      109  9833     LarryPage
1     YAHOO           4.62      334  7338    Sam walton
2       WWT             -1      225  6374  JasonSthatom
3       MFT              0      763  8473     BillGates
4  RELIANCE  not available      -10    92        Ambani
5    JINDAL            7.8       50    na    Ratan Tata

In [38]:
ls

PythonPandas-01.ipynb
PythonPandas-02.ipynb
PythonPandas-03.ipynb
Untitled.ipynb
WeatherData.csv
WeatherData.xls
appliedai-appliedai_svd-02901de3aaa0/
appliedai-appliedai_svd-02901de3aaa0.zip
constituents_csv.csv
new.csv
new1.csv
new2.csv
newxl.xlsx
stock_data.csv
stock_dataxl.xls
the-movies-dataset.zip

In [48]:
#Writing the Data frame results to an excel use the following command and mention the sheet name to which we want to write
xdf.to_excel('newxl1.xlsx',sheet_name='stocks',index=False)

In [50]:
#If we want to write in excel from the specific columns & rows use the following command
xdf.to_excel('newxlwsrsc.xlsx',sheet_name='stocks',startrow=1,startcol=2)