In [1]:
#Methods of creating DataFrames as follows

# Using Dictionary
# Using Tuple
# Using List

In [2]:
import pandas as pd

In [3]:
%pwd

'/Users/purnachandra.dasari/Downloads/AIML-Labs-BLR/PythonTutorial-DS'

In [7]:
# If we want to read data directly from CSV use following command
df=pd.read_csv("/Users/purnachandra.dasari/Downloads/AIML-Labs-BLR/PythonTutorial-DS/WeatherData.csv")
df

       Day  Temperature  WindSpeed   Event
0   1/2/19           32         55   Rainy
1   3/8/19           31         77  Cloudy
2   4/9/19           27         88    Snow
3  5/12/19           25         99   Sunny

In [9]:
#If we want to read data directly from Excel use following command
df2=pd.read_excel("/Users/purnachandra.dasari/Downloads/AIML-Labs-BLR/PythonTutorial-DS/WeatherData.xls")
df2

         Day  Temperature  WindSpeed   Event
0 2019-02-01           32         55   Rainy
1 2019-08-03           31         77  Cloudy
2 2019-09-04           27         88    Snow
3 2019-12-05           25         99   Sunny

In [10]:
#Creating a DataFrame using Dictionary
WeatherData={
    'Date':['1/2/2019','2/9/2019','3/9/2019','4/9/2019'],
    'Temperature':['25','27','29','31'],
    'Windspeed':['55','54','61','72'],
    'Event':['Rainy','Cloudy','Cyclone','Snow']
}
df3=pd.DataFrame(WeatherData)
df3

       Date Temperature Windspeed    Event
0  1/2/2019          25        55    Rainy
1  2/9/2019          27        54   Cloudy
2  3/9/2019          29        61  Cyclone
3  4/9/2019          31        72     Snow

In [11]:
#Creating a DataFrame using List of tuples
Weather_Data=[
    ('1/1/2019',32,45,'Rainy'),
    ('1/2/2019',38,49,'Sunny'),
    ('1/3/2019',44,56,'Snow'),
    ('1/4/2019',52,16,'Cloudy')
]
df4=pd.DataFrame(Weather_Data,columns=['Date','Temperature','WindSpeed','Event'])
df4

       Date  Temperature  WindSpeed   Event
0  1/1/2019           32         45   Rainy
1  1/2/2019           38         49   Sunny
2  1/3/2019           44         56    Snow
3  1/4/2019           52         16  Cloudy

In [12]:
#Creating a DataFrame using List of Dictionaries
weather_data=[
    {'date':'1/1/2019','temperature':32,'WindSpeed':45,'Event':'Rainy'},
    {'date':'1/2/2019','temperature':38,'WindSpeed':49,'Event':'Sunny'},
    {'date':'1/3/2019','temperature':44,'WindSpeed':56,'Event':'Snow'},
    {'date':'1/4/2019','temperature':52,'WindSpeed':16,'Event':'Cloudy'},
]
df5=pd.DataFrame(weather_data)
df5

    Event  WindSpeed      date  temperature
0   Rainy         45  1/1/2019           32
1   Sunny         49  1/2/2019           38
2    Snow         56  1/3/2019           44
3  Cloudy         16  1/4/2019           52